$light: rgba(255, 255, 242, 1);
$darkblue: rgba(68, 100, 173, 1);
$background: rgba(164, 176, 245, 1);
$alternate: rgba(187, 197, 170, 1);
$dark-alt: rgba(64, 120, 153, 1);

.header {
	height: 10vh;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	background: rgb(218, 220, 227);
	background: linear-gradient(90deg, rgba(218, 220, 227, 1) 0%, rgba(160, 189, 209, 1) 28%);

	nav {
		width: 50%;
		display: flex;
		justify-content: space-evenly;
	}

	a {
		text-decoration: none;
		font-size: 1.8rem;
		color: $dark-alt;
	}
}
